{
    "openapi": "3.0.0",
    "info": {
        "title": "Phare",
        "description": "Learn how to use the phare.io API. Most of the things that can be done on the web platform can also be achieved with the API documented on this page.",
        "termsOfService": "https://phare.io/legal/terms-of-service",
        "contact": {
            "name": "Phare",
            "email": "support@phare.io"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.phare.io"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Platform"
                ],
                "summary": "Get API info",
                "description": "Get basic API information",
                "operationId": "getInfo",
                "responses": {
                    "200": {
                        "description": "Success, information retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "title": {
                                            "description": "API title",
                                            "type": "string",
                                            "example": "Phare"
                                        },
                                        "version": {
                                            "description": "API version",
                                            "type": "string",
                                            "example": "1.0"
                                        },
                                        "support": {
                                            "description": "Support email address",
                                            "type": "string",
                                            "example": "support@phare.io"
                                        },
                                        "website": {
                                            "description": "Platform website url",
                                            "type": "string",
                                            "example": "https://phare.io"
                                        },
                                        "documentation": {
                                            "description": "API documentation url",
                                            "type": "string",
                                            "example": "https://docs.phare.io/"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                }
            }
        },
        "/alert-rules": {
            "get": {
                "tags": [
                    "Alert Rules"
                ],
                "summary": "List alert rules",
                "description": "Get a paginated list of alert rules.",
                "operationId": "getAlertRules",
                "responses": {
                    "200": {
                        "description": "Success, alert rules retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "project_id": {
                                                        "description": "The ID of a project to use as a scope",
                                                        "type": "integer",
                                                        "example": 1,
                                                        "nullable": true
                                                    },
                                                    "event": {
                                                        "$ref": "#/components/schemas/Uptime.ProductEvents"
                                                    },
                                                    "integration_id": {
                                                        "description": "The ID of the integration used to send a notification when the alert rule is executed",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "rate_limit": {
                                                        "description": "Minimum time in minutes between two executions of the alert rule, used to minimized the number of alert received.",
                                                        "type": "integer",
                                                        "example": 5,
                                                        "enum": [
                                                            0,
                                                            5,
                                                            10,
                                                            30,
                                                            60,
                                                            180,
                                                            720,
                                                            1440
                                                        ]
                                                    },
                                                    "event_settings": {
                                                        "description": "Additional settings for the event",
                                                        "anyOf": [
                                                            {
                                                                "title": "Empty",
                                                                "type": "object",
                                                                "nullable": true
                                                            },
                                                            {
                                                                "$ref": "#/components/schemas/Platform.Event.UptimeIncident.AlertRuleSettings"
                                                            },
                                                            {
                                                                "$ref": "#/components/schemas/Platform.Event.UptimeMonitorCertificateExpiring.AlertRuleSettings"
                                                            }
                                                        ]
                                                    },
                                                    "integration_settings": {
                                                        "description": "Additional settings for the integration",
                                                        "anyOf": [
                                                            {
                                                                "title": "Empty",
                                                                "type": "object",
                                                                "nullable": true
                                                            },
                                                            {
                                                                "$ref": "#/components/schemas/Platform.App.Ntfy.AlertRuleSettings"
                                                            },
                                                            {
                                                                "$ref": "#/components/schemas/Platform.App.OutgoingWebhook.AlertRuleSettings"
                                                            },
                                                            {
                                                                "$ref": "#/components/schemas/Platform.App.Pushover.AlertRuleSettings"
                                                            }
                                                        ]
                                                    },
                                                    "created_at": {
                                                        "description": "Date of creation for the entity",
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "description": "Date of last update for the entity",
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "required": [
                                                    "event",
                                                    "integration_id",
                                                    "rate_limit"
                                                ]
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/meta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/links"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_id"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_slug"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Alert Rules"
                ],
                "summary": "Create an alert rule",
                "description": "Create an alert rule",
                "operationId": "createUptimeAlertRule",
                "requestBody": {
                    "description": "Alert rule request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "scope": {
                                        "description": "Scoped of the alert rule",
                                        "type": "string",
                                        "example": "organization",
                                        "enum": [
                                            "organization",
                                            "project"
                                        ]
                                    },
                                    "event": {
                                        "$ref": "#/components/schemas/Uptime.ProductEvents"
                                    },
                                    "integration_id": {
                                        "description": "The ID of the integration used to send a notification when the alert rule is executed",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "rate_limit": {
                                        "description": "Minimum time in minutes between two executions of the alert rule, used to minimized the number of alert received.",
                                        "type": "integer",
                                        "example": 5,
                                        "enum": [
                                            0,
                                            5,
                                            10,
                                            30,
                                            60,
                                            180,
                                            720,
                                            1440
                                        ]
                                    },
                                    "event_settings": {
                                        "description": "Additional settings for the event",
                                        "anyOf": [
                                            {
                                                "title": "Empty",
                                                "type": "object",
                                                "nullable": true
                                            },
                                            {
                                                "$ref": "#/components/schemas/Platform.Event.UptimeIncident.AlertRuleSettings"
                                            },
                                            {
                                                "$ref": "#/components/schemas/Platform.Event.UptimeMonitorCertificateExpiring.AlertRuleSettings"
                                            }
                                        ]
                                    },
                                    "integration_settings": {
                                        "description": "Additional settings for the integration",
                                        "anyOf": [
                                            {
                                                "title": "Empty",
                                                "type": "object",
                                                "nullable": true
                                            },
                                            {
                                                "$ref": "#/components/schemas/Platform.App.Ntfy.AlertRuleSettings"
                                            },
                                            {
                                                "$ref": "#/components/schemas/Platform.App.OutgoingWebhook.AlertRuleSettings"
                                            },
                                            {
                                                "$ref": "#/components/schemas/Platform.App.Pushover.AlertRuleSettings"
                                            }
                                        ]
                                    }
                                },
                                "required": [
                                    "event",
                                    "integration_id",
                                    "rate_limit"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success, alert rule created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "project_id": {
                                            "description": "The ID of a project to use as a scope",
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "event": {
                                            "$ref": "#/components/schemas/Uptime.ProductEvents"
                                        },
                                        "integration_id": {
                                            "description": "The ID of the integration used to send a notification when the alert rule is executed",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "rate_limit": {
                                            "description": "Minimum time in minutes between two executions of the alert rule, used to minimized the number of alert received.",
                                            "type": "integer",
                                            "example": 5,
                                            "enum": [
                                                0,
                                                5,
                                                10,
                                                30,
                                                60,
                                                180,
                                                720,
                                                1440
                                            ]
                                        },
                                        "event_settings": {
                                            "description": "Additional settings for the event",
                                            "anyOf": [
                                                {
                                                    "title": "Empty",
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.Event.UptimeIncident.AlertRuleSettings"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.Event.UptimeMonitorCertificateExpiring.AlertRuleSettings"
                                                }
                                            ]
                                        },
                                        "integration_settings": {
                                            "description": "Additional settings for the integration",
                                            "anyOf": [
                                                {
                                                    "title": "Empty",
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.App.Ntfy.AlertRuleSettings"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.App.OutgoingWebhook.AlertRuleSettings"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.App.Pushover.AlertRuleSettings"
                                                }
                                            ]
                                        },
                                        "created_at": {
                                            "description": "Date of creation for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "description": "Date of last update for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "required": [
                                        "event",
                                        "integration_id",
                                        "rate_limit"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/header_project_id"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_slug"
                    }
                ]
            }
        },
        "/alert-rules/{alertRuleId}": {
            "get": {
                "tags": [
                    "Alert Rules"
                ],
                "summary": "Get an alert rule",
                "description": "Get an alert rule by ID",
                "operationId": "getAlertRule",
                "parameters": [
                    {
                        "name": "alertRuleId",
                        "in": "path",
                        "description": "ID of the alert rule to show",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/header_project_id"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_slug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, alert rule retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "project_id": {
                                            "description": "The ID of a project to use as a scope",
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "event": {
                                            "$ref": "#/components/schemas/Uptime.ProductEvents"
                                        },
                                        "integration_id": {
                                            "description": "The ID of the integration used to send a notification when the alert rule is executed",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "rate_limit": {
                                            "description": "Minimum time in minutes between two executions of the alert rule, used to minimized the number of alert received.",
                                            "type": "integer",
                                            "example": 5,
                                            "enum": [
                                                0,
                                                5,
                                                10,
                                                30,
                                                60,
                                                180,
                                                720,
                                                1440
                                            ]
                                        },
                                        "event_settings": {
                                            "description": "Additional settings for the event",
                                            "anyOf": [
                                                {
                                                    "title": "Empty",
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.Event.UptimeIncident.AlertRuleSettings"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.Event.UptimeMonitorCertificateExpiring.AlertRuleSettings"
                                                }
                                            ]
                                        },
                                        "integration_settings": {
                                            "description": "Additional settings for the integration",
                                            "anyOf": [
                                                {
                                                    "title": "Empty",
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.App.Ntfy.AlertRuleSettings"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.App.OutgoingWebhook.AlertRuleSettings"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.App.Pushover.AlertRuleSettings"
                                                }
                                            ]
                                        },
                                        "created_at": {
                                            "description": "Date of creation for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "description": "Date of last update for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "required": [
                                        "event",
                                        "integration_id",
                                        "rate_limit"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "post": {
                "tags": [
                    "Alert Rules"
                ],
                "summary": "Update an alert rule",
                "description": "Update an alert rule by ID",
                "operationId": "updateUptimeAlertRule",
                "parameters": [
                    {
                        "name": "alertRuleId",
                        "in": "path",
                        "description": "ID of the alert rule to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/header_project_id"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_slug"
                    }
                ],
                "requestBody": {
                    "description": "Alert rule request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "scope": {
                                        "description": "Scoped of the alert rule",
                                        "type": "string",
                                        "example": "organization",
                                        "enum": [
                                            "organization",
                                            "project"
                                        ]
                                    },
                                    "event": {
                                        "$ref": "#/components/schemas/Uptime.ProductEvents"
                                    },
                                    "integration_id": {
                                        "description": "The ID of the integration used to send a notification when the alert rule is executed",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "rate_limit": {
                                        "description": "Minimum time in minutes between two executions of the alert rule, used to minimized the number of alert received.",
                                        "type": "integer",
                                        "example": 5,
                                        "enum": [
                                            0,
                                            5,
                                            10,
                                            30,
                                            60,
                                            180,
                                            720,
                                            1440
                                        ]
                                    },
                                    "event_settings": {
                                        "description": "Additional settings for the event",
                                        "anyOf": [
                                            {
                                                "title": "Empty",
                                                "type": "object",
                                                "nullable": true
                                            },
                                            {
                                                "$ref": "#/components/schemas/Platform.Event.UptimeIncident.AlertRuleSettings"
                                            },
                                            {
                                                "$ref": "#/components/schemas/Platform.Event.UptimeMonitorCertificateExpiring.AlertRuleSettings"
                                            }
                                        ]
                                    },
                                    "integration_settings": {
                                        "description": "Additional settings for the integration",
                                        "anyOf": [
                                            {
                                                "title": "Empty",
                                                "type": "object",
                                                "nullable": true
                                            },
                                            {
                                                "$ref": "#/components/schemas/Platform.App.Ntfy.AlertRuleSettings"
                                            },
                                            {
                                                "$ref": "#/components/schemas/Platform.App.OutgoingWebhook.AlertRuleSettings"
                                            },
                                            {
                                                "$ref": "#/components/schemas/Platform.App.Pushover.AlertRuleSettings"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success, alert rule updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "project_id": {
                                            "description": "The ID of a project to use as a scope",
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "event": {
                                            "$ref": "#/components/schemas/Uptime.ProductEvents"
                                        },
                                        "integration_id": {
                                            "description": "The ID of the integration used to send a notification when the alert rule is executed",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "rate_limit": {
                                            "description": "Minimum time in minutes between two executions of the alert rule, used to minimized the number of alert received.",
                                            "type": "integer",
                                            "example": 5,
                                            "enum": [
                                                0,
                                                5,
                                                10,
                                                30,
                                                60,
                                                180,
                                                720,
                                                1440
                                            ]
                                        },
                                        "event_settings": {
                                            "description": "Additional settings for the event",
                                            "anyOf": [
                                                {
                                                    "title": "Empty",
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.Event.UptimeIncident.AlertRuleSettings"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.Event.UptimeMonitorCertificateExpiring.AlertRuleSettings"
                                                }
                                            ]
                                        },
                                        "integration_settings": {
                                            "description": "Additional settings for the integration",
                                            "anyOf": [
                                                {
                                                    "title": "Empty",
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.App.Ntfy.AlertRuleSettings"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.App.OutgoingWebhook.AlertRuleSettings"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/Platform.App.Pushover.AlertRuleSettings"
                                                }
                                            ]
                                        },
                                        "created_at": {
                                            "description": "Date of creation for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "description": "Date of last update for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "required": [
                                        "event",
                                        "integration_id",
                                        "rate_limit"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Alert Rules"
                ],
                "summary": "Delete an alert rule",
                "description": "Delete an alert rule by ID",
                "operationId": "deleteUptimeAlertRule",
                "parameters": [
                    {
                        "name": "alertRuleId",
                        "in": "path",
                        "description": "ID of the alert rule to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/header_project_id"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_slug"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success, alert rule deleted",
                        "content": {}
                    },
                    "409": {
                        "description": "Error, alert rule cannot be deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Conflict error schema",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This alert rule is used by at least one entity and cannot be deleted."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/apps/{app}/integrations": {
            "get": {
                "tags": [
                    "Integrations"
                ],
                "summary": "List integrations",
                "description": "Get a paginated list of integrations for a specific app.",
                "operationId": "getIntegrations",
                "parameters": [
                    {
                        "name": "app",
                        "in": "path",
                        "description": "The app key to filter integrations",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Platform.App.AppEnum"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filter integrations by name. Can be specified multiple times to filter by multiple names.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_id"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_slug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, integrations retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "Integration ID",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "description": "Integration name",
                                                        "type": "string",
                                                        "example": "DevOps Team"
                                                    },
                                                    "paused": {
                                                        "description": "Integration paused status",
                                                        "type": "boolean",
                                                        "example": false
                                                    },
                                                    "created_at": {
                                                        "description": "Date of creation for the entity",
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "description": "Date of last update for the entity",
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/meta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/links"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                }
            }
        },
        "/apps/{app}/integrations/{integrationId}": {
            "get": {
                "tags": [
                    "Integrations"
                ],
                "summary": "Get an integration",
                "description": "Get an integration by ID",
                "operationId": "getIntegration",
                "parameters": [
                    {
                        "name": "app",
                        "in": "path",
                        "description": "The app key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "integrationId",
                        "in": "path",
                        "description": "ID of the integration to show",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/header_project_id"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_slug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, integration retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "Integration ID",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "description": "Integration name",
                                            "type": "string",
                                            "example": "DevOps Team"
                                        },
                                        "paused": {
                                            "description": "Integration paused status",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "created_at": {
                                            "description": "Date of creation for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "description": "Date of last update for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/projects": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "List projects",
                "description": "Get a paginated list of projects.",
                "operationId": "getProjects",
                "responses": {
                    "200": {
                        "description": "Success, projects retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "description": "Project ID",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "slug": {
                                                        "description": "Project slug",
                                                        "type": "string",
                                                        "example": "luminous-guiding-tower"
                                                    },
                                                    "name": {
                                                        "description": "Project name",
                                                        "type": "string",
                                                        "example": "Luminous Guiding Tower",
                                                        "maximum": 25,
                                                        "minimum": 1
                                                    },
                                                    "members": {
                                                        "description": "List of team members that are part of this project",
                                                        "type": "array",
                                                        "items": {
                                                            "type": "integer"
                                                        },
                                                        "example": [
                                                            1,
                                                            2,
                                                            3
                                                        ],
                                                        "maxItems": 100,
                                                        "minItems": 1
                                                    },
                                                    "settings": {
                                                        "description": "Project settings",
                                                        "properties": {
                                                            "use_incident_ai": {
                                                                "description": "Whether to generate AI summaries for incidents",
                                                                "type": "boolean",
                                                                "nullable": true,
                                                                "default": true
                                                            },
                                                            "use_incident_merging": {
                                                                "description": "Whether to use incident merging",
                                                                "type": "boolean",
                                                                "nullable": true,
                                                                "default": true
                                                            },
                                                            "incident_merging_time_window": {
                                                                "description": "Time window for incident merging in minutes",
                                                                "type": "integer",
                                                                "nullable": true,
                                                                "default": 60,
                                                                "enum": [
                                                                    5,
                                                                    10,
                                                                    30,
                                                                    60,
                                                                    120,
                                                                    180
                                                                ]
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "created_at": {
                                                        "description": "Date of creation for the entity",
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "description": "Date of last update for the entity",
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "members"
                                                ]
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/meta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/links"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Projects"
                ],
                "summary": "Create a project",
                "description": "Create a project",
                "operationId": "createProject",
                "requestBody": {
                    "description": "Project request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "Project name",
                                        "type": "string",
                                        "example": "Luminous Guiding Tower",
                                        "maximum": 25,
                                        "minimum": 1
                                    },
                                    "members": {
                                        "description": "List of team members that are part of this project",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            1,
                                            2,
                                            3
                                        ],
                                        "maxItems": 100,
                                        "minItems": 1
                                    },
                                    "settings": {
                                        "description": "Project settings",
                                        "properties": {
                                            "use_incident_ai": {
                                                "description": "Whether to generate AI summaries for incidents",
                                                "type": "boolean",
                                                "nullable": true,
                                                "default": true
                                            },
                                            "use_incident_merging": {
                                                "description": "Whether to use incident merging",
                                                "type": "boolean",
                                                "nullable": true,
                                                "default": true
                                            },
                                            "incident_merging_time_window": {
                                                "description": "Time window for incident merging in minutes",
                                                "type": "integer",
                                                "nullable": true,
                                                "default": 60,
                                                "enum": [
                                                    5,
                                                    10,
                                                    30,
                                                    60,
                                                    120,
                                                    180
                                                ]
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "name",
                                    "members"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success, project created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "description": "Project ID",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "slug": {
                                            "description": "Project slug",
                                            "type": "string",
                                            "example": "luminous-guiding-tower"
                                        },
                                        "name": {
                                            "description": "Project name",
                                            "type": "string",
                                            "example": "Luminous Guiding Tower",
                                            "maximum": 25,
                                            "minimum": 1
                                        },
                                        "members": {
                                            "description": "List of team members that are part of this project",
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "example": [
                                                1,
                                                2,
                                                3
                                            ],
                                            "maxItems": 100,
                                            "minItems": 1
                                        },
                                        "settings": {
                                            "description": "Project settings",
                                            "properties": {
                                                "use_incident_ai": {
                                                    "description": "Whether to generate AI summaries for incidents",
                                                    "type": "boolean",
                                                    "nullable": true,
                                                    "default": true
                                                },
                                                "use_incident_merging": {
                                                    "description": "Whether to use incident merging",
                                                    "type": "boolean",
                                                    "nullable": true,
                                                    "default": true
                                                },
                                                "incident_merging_time_window": {
                                                    "description": "Time window for incident merging in minutes",
                                                    "type": "integer",
                                                    "nullable": true,
                                                    "default": 60,
                                                    "enum": [
                                                        5,
                                                        10,
                                                        30,
                                                        60,
                                                        120,
                                                        180
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "created_at": {
                                            "description": "Date of creation for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "description": "Date of last update for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "members"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/projects/{projectId}": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Get a project",
                "description": "Get a project by ID",
                "operationId": "getProject",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "ID of the project to show",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, project retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "description": "Project ID",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "slug": {
                                            "description": "Project slug",
                                            "type": "string",
                                            "example": "luminous-guiding-tower"
                                        },
                                        "name": {
                                            "description": "Project name",
                                            "type": "string",
                                            "example": "Luminous Guiding Tower",
                                            "maximum": 25,
                                            "minimum": 1
                                        },
                                        "members": {
                                            "description": "List of team members that are part of this project",
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "example": [
                                                1,
                                                2,
                                                3
                                            ],
                                            "maxItems": 100,
                                            "minItems": 1
                                        },
                                        "settings": {
                                            "description": "Project settings",
                                            "properties": {
                                                "use_incident_ai": {
                                                    "description": "Whether to generate AI summaries for incidents",
                                                    "type": "boolean",
                                                    "nullable": true,
                                                    "default": true
                                                },
                                                "use_incident_merging": {
                                                    "description": "Whether to use incident merging",
                                                    "type": "boolean",
                                                    "nullable": true,
                                                    "default": true
                                                },
                                                "incident_merging_time_window": {
                                                    "description": "Time window for incident merging in minutes",
                                                    "type": "integer",
                                                    "nullable": true,
                                                    "default": 60,
                                                    "enum": [
                                                        5,
                                                        10,
                                                        30,
                                                        60,
                                                        120,
                                                        180
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "created_at": {
                                            "description": "Date of creation for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "description": "Date of last update for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "members"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "post": {
                "tags": [
                    "Projects"
                ],
                "summary": "Update a project",
                "description": "Update a project by ID",
                "operationId": "updateProject",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "ID of the project to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Project request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "Project name",
                                        "type": "string",
                                        "example": "Luminous Guiding Tower",
                                        "maximum": 25,
                                        "minimum": 1
                                    },
                                    "members": {
                                        "description": "List of team members that are part of this project",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            1,
                                            2,
                                            3
                                        ],
                                        "maxItems": 100,
                                        "minItems": 1
                                    },
                                    "settings": {
                                        "description": "Project settings",
                                        "properties": {
                                            "use_incident_ai": {
                                                "description": "Whether to generate AI summaries for incidents",
                                                "type": "boolean",
                                                "nullable": true,
                                                "default": true
                                            },
                                            "use_incident_merging": {
                                                "description": "Whether to use incident merging",
                                                "type": "boolean",
                                                "nullable": true,
                                                "default": true
                                            },
                                            "incident_merging_time_window": {
                                                "description": "Time window for incident merging in minutes",
                                                "type": "integer",
                                                "nullable": true,
                                                "default": 60,
                                                "enum": [
                                                    5,
                                                    10,
                                                    30,
                                                    60,
                                                    120,
                                                    180
                                                ]
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success, project updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "description": "Project ID",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "slug": {
                                            "description": "Project slug",
                                            "type": "string",
                                            "example": "luminous-guiding-tower"
                                        },
                                        "name": {
                                            "description": "Project name",
                                            "type": "string",
                                            "example": "Luminous Guiding Tower",
                                            "maximum": 25,
                                            "minimum": 1
                                        },
                                        "members": {
                                            "description": "List of team members that are part of this project",
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "example": [
                                                1,
                                                2,
                                                3
                                            ],
                                            "maxItems": 100,
                                            "minItems": 1
                                        },
                                        "settings": {
                                            "description": "Project settings",
                                            "properties": {
                                                "use_incident_ai": {
                                                    "description": "Whether to generate AI summaries for incidents",
                                                    "type": "boolean",
                                                    "nullable": true,
                                                    "default": true
                                                },
                                                "use_incident_merging": {
                                                    "description": "Whether to use incident merging",
                                                    "type": "boolean",
                                                    "nullable": true,
                                                    "default": true
                                                },
                                                "incident_merging_time_window": {
                                                    "description": "Time window for incident merging in minutes",
                                                    "type": "integer",
                                                    "nullable": true,
                                                    "default": 60,
                                                    "enum": [
                                                        5,
                                                        10,
                                                        30,
                                                        60,
                                                        120,
                                                        180
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "created_at": {
                                            "description": "Date of creation for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "description": "Date of last update for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "members"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Projects"
                ],
                "summary": "Delete a project",
                "description": "Delete a project by ID",
                "operationId": "deleteProject",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "ID of the project to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success, project deleted",
                        "content": {}
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "List users",
                "description": "Get a paginated list of users.",
                "operationId": "getUsers",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Filter users by email. Can be specified multiple times to filter by multiple email addresses.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_id"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_slug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, users retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "User ID",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "role": {
                                                        "$ref": "#/components/schemas/Phare.User.UserRoleEnum"
                                                    },
                                                    "email": {
                                                        "description": "User email",
                                                        "type": "string",
                                                        "example": "nicolas@phare.io"
                                                    },
                                                    "created_at": {
                                                        "description": "Date of creation for the entity",
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "description": "Date of last update for the entity",
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/meta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/links"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                }
            }
        },
        "/users/{userId}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get a user",
                "description": "Get a user by ID",
                "operationId": "getUser",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "ID of the user to show",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/header_project_id"
                    },
                    {
                        "$ref": "#/components/parameters/header_project_slug"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, user retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "User ID",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "role": {
                                            "$ref": "#/components/schemas/Phare.User.UserRoleEnum"
                                        },
                                        "email": {
                                            "description": "User email",
                                            "type": "string",
                                            "example": "nicolas@phare.io"
                                        },
                                        "created_at": {
                                            "description": "Date of creation for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "updated_at": {
                                            "description": "Date of last update for the entity",
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/uptime/incidents": {
            "get": {
                "tags": [
                    "Incidents"
                ],
                "summary": "List incidents",
                "description": "Get a paginated list of incidents",
                "operationId": "getUptimeIncidents",
                "responses": {
                    "200": {
                        "description": "Success, incidents retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "project_id": {
                                                        "description": "Parent project ID",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "type": {
                                                        "$ref": "#/components/schemas/Uptime.Incident.TypeEnum"
                                                    },
                                                    "slug": {
                                                        "description": "Incident unique slug name",
                                                        "type": "string",
                                                        "example": "APP-123"
                                                    },
                                                    "state": {
                                                        "$ref": "#/components/schemas/Uptime.Incident.StateEnum"
                                                    },
                                                    "status": {
                                                        "$ref": "#/components/schemas/Uptime.Incident.StatusEnum"
                                                    },
                                                    "impact": {
                                                        "$ref": "#/components/schemas/Uptime.Incident.ImpactEnum"
                                                    },
                                                    "title": {
                                                        "description": "Incident title",
                                                        "type": "string",
                                                        "example": "Service is not working as expected",
[...]
