{
    "openapi": "3.0.0",
    "info": {
        "title": "Phare",
        "description": "Learn how to use the phare.io API. Most of the things that can be done on the web platform can also be achieved with the API documented on this page.",
        "termsOfService": "https://phare.io/legal/terms-of-service",
        "contact": {
            "name": "Phare",
            "email": "contact@phare.io"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.phare.io"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Platform"
                ],
                "summary": "Get API info",
                "description": "Get basic API information",
                "operationId": "getInfo",
                "responses": {
                    "200": {
                        "description": "Success, information retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "title": {
                                            "description": "API title",
                                            "type": "string",
                                            "example": "Phare"
                                        },
                                        "version": {
                                            "description": "API version",
                                            "type": "string",
                                            "example": "1.0"
                                        },
                                        "support": {
                                            "description": "Support email address",
                                            "type": "string",
                                            "example": "support@phare.io"
                                        },
                                        "website": {
                                            "description": "Platform website url",
                                            "type": "string",
                                            "example": "https://phare.io"
                                        },
                                        "documentation": {
                                            "description": "API documentation url",
                                            "type": "string",
                                            "example": "https://docs.phare.io/"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                }
            }
        },
        "/{product}/alert-policies/{alertPolicyId}/alert-rules": {
            "get": {
                "tags": [
                    "Alert Rules"
                ],
                "summary": "List alert rules",
                "description": "Get a paginated list of alert rules for a given alert policy.",
                "operationId": "getUptimeAlertPolicyAlertRules",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/product"
                    },
                    {
                        "name": "alertPolicyId",
                        "in": "path",
                        "description": "ID of the alert policy to retrieve alert rules for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, alert rules retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "$ref": "#/components/schemas/Uptime.AlertRule.Resource"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/meta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/links"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                }
            },
            "post": {
                "tags": [
                    "Alert Rules"
                ],
                "summary": "Create an alert rule",
                "description": "Create an alert rule for a given alert policy",
                "operationId": "createUptimeAlertPolicyAlertRule",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/product"
                    },
                    {
                        "name": "alertPolicyId",
                        "in": "path",
                        "description": "ID of the alert policy to create an alert rule for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Alert rule request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Uptime.AlertRule.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success, alert rule created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.AlertRule.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/{product}/alert-policies/{alertPolicyId}/alert-rules/{alertRuleId}": {
            "get": {
                "tags": [
                    "Alert Rules"
                ],
                "summary": "Get an alert rule",
                "description": "Get an alert rule by ID for a given alert policy",
                "operationId": "getUptimeAlertPolicyAlertRule",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/product"
                    },
                    {
                        "name": "alertPolicyId",
                        "in": "path",
                        "description": "ID of the alert policy to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "alertRuleId",
                        "in": "path",
                        "description": "ID of the alert rule to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, alert rule retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.AlertRule.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "post": {
                "tags": [
                    "Alert Rules"
                ],
                "summary": "Update an alert rule",
                "description": "Update an alert rule by ID for a given alert policy",
                "operationId": "updateUptimeAlertPolicyAlertRule",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/product"
                    },
                    {
                        "name": "alertPolicyId",
                        "in": "path",
                        "description": "ID of the alert policy to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "alertRuleId",
                        "in": "path",
                        "description": "ID of the alert rule to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Alert rule request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Uptime.AlertRule.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success, alert rule updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.AlertRule.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Alert Rules"
                ],
                "summary": "Delete an alert rule",
                "description": "Delete an alert rule by ID for a given alert policy",
                "operationId": "deleteUptimeAlertPolicyAlertRule",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/product"
                    },
                    {
                        "name": "alertPolicyId",
                        "in": "path",
                        "description": "ID of the alert policy to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "alertRuleId",
                        "in": "path",
                        "description": "ID of the alert rule to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success, alert rule deleted"
                    },
                    "409": {
                        "description": "Error, alert rule cannot be deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Conflict error schema",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This alert rule is used by at least one entity and cannot be deleted."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/{product}/alert-policies": {
            "get": {
                "tags": [
                    "Alert Policies"
                ],
                "summary": "List alert policies",
                "description": "Get a paginated list of alert policies.",
                "operationId": "getUptimeAlertPolicies",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/product"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, alert policies retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "$ref": "#/components/schemas/Uptime.AlertPolicy.Resource"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/meta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/links"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                }
            },
            "post": {
                "tags": [
                    "Alert Policies"
                ],
                "summary": "Create an alert policy",
                "description": "Create an alert policy",
                "operationId": "createUptimeAlertPolicy",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/product"
                    }
                ],
                "requestBody": {
                    "description": "Alert policy request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Uptime.AlertPolicy.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success, alert policy created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.AlertPolicy.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/{product}/alert-policies/{alertPolicyId}": {
            "get": {
                "tags": [
                    "Alert Policies"
                ],
                "summary": "Get an alert policy",
                "description": "Get an alert policy by ID",
                "operationId": "getUptimeAlertPolicy",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/product"
                    },
                    {
                        "name": "alertPolicyId",
                        "in": "path",
                        "description": "ID of the alert policy to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, alert policy retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.AlertPolicy.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "post": {
                "tags": [
                    "Alert Policies"
                ],
                "summary": "Update an alert policy",
                "description": "Update an alert policy by ID",
                "operationId": "updateUptimeAlertPolicy",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/product"
                    },
                    {
                        "name": "alertPolicyId",
                        "in": "path",
                        "description": "ID of the alert policy to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Alert policy request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Uptime.AlertPolicy.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success, alert policy updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.AlertPolicy.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Alert Policies"
                ],
                "summary": "Delete an alert policy",
                "description": "Delete an alert policy by ID",
                "operationId": "deleteUptimeAlertPolicy",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/product"
                    },
                    {
                        "name": "alertPolicyId",
                        "in": "path",
                        "description": "ID of the alert policy to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success, alert policy deleted"
                    },
                    "409": {
                        "description": "Error, alert policy cannot be deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Conflict error schema",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This alert policy is used by at least one entity and cannot be deleted."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/uptime/incidents": {
            "get": {
                "tags": [
                    "Incidents"
                ],
                "summary": "List incidents",
                "description": "Get a paginated list of incidents",
                "operationId": "getUptimeIncidents",
                "responses": {
                    "200": {
                        "description": "Success, incidents retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "$ref": "#/components/schemas/Uptime.Incident.Resource"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/meta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/links"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    }
                ]
            }
        },
        "/uptime/incidents/{incidentId}": {
            "get": {
                "tags": [
                    "Incidents"
                ],
                "summary": "Get an incident",
                "description": "Get an incident by ID",
                "operationId": "getUptimeIncident",
                "parameters": [
                    {
                        "name": "incidentId",
                        "in": "path",
                        "description": "ID of the incident to show",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, incident retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.Incident.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Incidents"
                ],
                "summary": "Delete an incident",
                "description": "Delete an incident by ID",
                "operationId": "deleteUptimeIncident",
                "parameters": [
                    {
                        "name": "incidentId",
                        "in": "path",
                        "description": "ID of the incident to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success, incident deleted"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/uptime/monitors": {
            "get": {
                "tags": [
                    "Monitors"
                ],
                "summary": "List monitors",
                "description": "Get a paginated list of monitors",
                "operationId": "getUptimeMonitors",
                "responses": {
                    "200": {
                        "description": "Success, monitors retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "$ref": "#/components/schemas/Uptime.Monitor.Resource"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/meta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/links"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Monitors"
                ],
                "summary": "Create a monitor",
                "description": "Create a monitor",
                "operationId": "createUptimeMonitor",
                "requestBody": {
                    "description": "Monitor request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Uptime.Monitor.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success, monitor created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.Monitor.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/uptime/monitors/{monitorId}": {
            "get": {
                "tags": [
                    "Monitors"
                ],
                "summary": "Get a monitor",
                "description": "Get a monitor by ID",
                "operationId": "getUptimeMonitor",
                "parameters": [
                    {
                        "name": "monitorId",
                        "in": "path",
                        "description": "ID of the monitor to show",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, monitor retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.Monitor.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "post": {
                "tags": [
                    "Monitors"
                ],
                "summary": "Update a monitor",
                "description": "Update a monitor by ID",
                "operationId": "updateUptimeMonitor",
                "parameters": [
                    {
                        "name": "monitorId",
                        "in": "path",
                        "description": "ID of the monitor to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Monitor request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Uptime.Monitor.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success, monitor updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.Monitor.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Monitors"
                ],
                "summary": "Delete a monitor",
                "description": "Delete a monitor by ID",
                "operationId": "deleteUptimeMonitor",
                "parameters": [
                    {
                        "name": "monitorId",
                        "in": "path",
                        "description": "ID of the monitor to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success, monitor deleted"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/uptime/monitors/{monitorId}/pause": {
            "post": {
                "tags": [
                    "Monitors"
                ],
                "summary": "Pause a monitor",
                "description": "Pause a monitor by ID",
                "operationId": "pauseUptimeMonitor",
                "parameters": [
                    {
                        "name": "monitorId",
                        "in": "path",
                        "description": "ID of the monitor to pause",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success, monitor paused"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/uptime/monitors/{monitorId}/resume": {
            "post": {
                "tags": [
                    "Monitors"
                ],
                "summary": "Resume a monitor",
                "description": "Resume a monitor by ID",
                "operationId": "resumeUptimeMonitor",
                "parameters": [
                    {
                        "name": "monitorId",
                        "in": "path",
                        "description": "ID of the monitor to resume",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success, monitor resumed"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/uptime/status-pages": {
            "get": {
                "tags": [
                    "Status Pages"
                ],
                "summary": "List status pages",
                "description": "Get a paginated list of status pages",
                "operationId": "getUptimeStatusPages",
                "responses": {
                    "200": {
                        "description": "Success, status pages retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "$ref": "#/components/schemas/Uptime.StatusPage.Resource"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/meta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/links"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Status Pages"
                ],
                "summary": "Create a status page",
                "description": "Create a status page",
                "operationId": "createUptimeStatusPage",
                "requestBody": {
                    "description": "Status page request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Uptime.StatusPage.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success, status page created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.StatusPage.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            }
        },
        "/uptime/status-pages/{statusPageId}": {
            "get": {
                "tags": [
                    "Status Pages"
                ],
                "summary": "Get a status page",
                "description": "Get a status page by ID",
                "operationId": "getUptimeStatusPage",
                "parameters": [
                    {
                        "name": "statusPageId",
                        "in": "path",
                        "description": "ID of the status page to show",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success, status page retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.StatusPage.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "post": {
                "tags": [
                    "Status Pages"
                ],
                "summary": "Update a status page",
                "description": "Update a status page by ID",
                "operationId": "updateUptimeStatusPage",
                "parameters": [
                    {
                        "name": "statusPageId",
                        "in": "path",
                        "description": "ID of the status page to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Status page request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Uptime.StatusPage.Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success, status page updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uptime.StatusPage.Resource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Status Pages"
                ],
                "summary": "Delete a status page",
                "description": "Delete a status page by ID",
                "operationId": "deleteUptimeStatusPage",
                "parameters": [
                    {
                        "name": "statusPageId",
                        "in": "path",
                        "description": "ID of the status page to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success, status page deleted"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "meta": {
                "description": "Meta data for pagination",
                "properties": {
                    "current_page": {
                        "type": "number",
                        "example": 2
                    },
                    "from": {
                        "type": "number",
                        "example": 11
                    },
                    "to": {
                        "type": "number",
                        "example": 20
                    },
                    "per_page": {
                        "type": "number",
                        "example": 100
                    },
                    "path": {
                        "type": "string",
                        "example": "https://api.phare.io/{resource}?page=2"
                    }
                },
                "type": "object"
            },
            "links": {
                "description": "Links for pagination",
                "properties": {
                    "first": {
                        "type": "string",
                        "format": "url",
                        "example": "https://api.phare.io/{resource}?page=2"
                    },
                    "last": {
                        "type": "string",
                        "format": "url",
                        "example": "https://api.phare.io/{resource}?page=10",
                        "nullable": true
                    },
                    "prev": {
                        "type": "string",
                        "format": "url",
                        "example": "https://api.phare.io/{resource}?page=1",
                        "nullable": true
                    },
                    "next": {
                        "type": "string",
                        "format": "url",
                        "example": "https://api.phare.io/{resource}?page=1",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "Uptime.AlertRule.Request": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Uptime.AlertRule"
                    }
                ]
            },
            "Uptime.AlertPolicy.Request": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Uptime.AlertPolicy"
                    }
                ]
            },
            "Uptime.Monitor.Request": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Uptime.Monitor"
                    }
                ]
            },
            "Uptime.StatusPage.Request": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Uptime.StatusPage"
                    },
                    {
                        "properties": {
                            "logo": {
                                "description": "Manage the logo of the status page (accepted formats: png/jpeg/svg)",
                                "oneOf": [
                                    {
                                        "description": "Any image file with the following format: png / jpeg / svg.",
                                        "type": "string",
                                        "format": "file",
                                        "nullable": true
                                    },
                                    {
                                        "description": "If false is passed to the request the logo will be removed",
                                        "type": "boolean",
                                        "enum": [
                                            false
                                        ],
                                        "example": false,
                                        "nullable": true
                                    }
                                ]
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "Uptime.AlertPolicy.Resource": {
                "allOf": [
                    {
                        "properties": {
                            "id": {
                                "type": "number",
                                "example": 1
                            },
                            "product": {
                                "description": "Phare product that can use the alert policy",
                                "type": "string",
                                "enum": [
                                    "uptime"
                                ]
                            }
                        },
                        "type": "object"
                    },
                    {
                        "$ref": "#/components/schemas/Uptime.AlertPolicy"
                    },
                    {
                        "properties": {
                            "created_at": {
                                "description": "Date of creation for the entity",
                                "type": "string",
                                "format": "date-time"
                            },
                            "updated_at": {
                                "description": "Date of last update for the entity",
                                "type": "string",
                                "format": "date-time"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "Uptime.AlertRule.Resource": {
                "allOf": [
                    {
                        "properties": {
                            "id": {
                                "type": "number",
                                "example": 1
                            },
                            "alert_policy_id": {
                                "description": "Parent alert policy ID",
                                "type": "number",
                                "example": 1
                            }
                        },
                        "type": "object"
                    },
                    {
                        "$ref": "#/components/schemas/Uptime.AlertRule"
                    },
                    {
                        "properties": {
                            "created_at": {
                                "description": "Date of creation for the entity",
                                "type": "string",
                                "format": "date-time"
                            },
                            "updated_at": {
                                "description": "Date of last update for the entity",
                                "type": "string",
                                "format": "date-time"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "Uptime.Incident.Resource": {
                "allOf": [
                    {
                        "properties": {
                            "id": {
                                "type": "number",
                                "example": 1
                            },
                            "organization_id": {
                                "description": "Parent organization ID",
                                "type": "number",
                                "example": 1
                            },
                            "project_id": {
                                "description": "Parent project ID",
                                "type": "number",
                                "example": 1
                            },
                            "uptime_monitor_id": {
                                "description": "Parent uptime monitor ID",
                                "type": "number",
                                "example": 1
                            },
                            "title": {
                                "description": "Incident title",
                                "type": "string",
                                "maximum": 30,
                                "example": "Service is not working as expected"
                            },
                            "slug": {
                                "description": "Incident unique slug name",
                                "type": "string",
                                "example": "APP-123"
                            },
                            "impact": {
                                "$ref": "#/components/schemas/Uptime.Incident.ImpactEnum"
                            },
                            "state": {
                                "$ref": "#/components/schemas/Uptime.Incident.StateEnum"
                            },
                            "status": {
                                "$ref": "#/components/schemas/Uptime.Incident.StatusEnum"
                            },
                            "description": {
                                "description": "Description of the error that caused the incident",
                                "type": "string",
                                "example": "The server answered with an unexpected status code: 503."
                            },
                            "incident_at": {
                                "description": "Date of incident confirmation",
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            },
                            "recovery_at": {
                                "description": "Date of incident recovery",
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    {
                        "properties": {
                            "created_at": {
                                "description": "Date of creation for the entity",
                                "type": "string",
                                "format": "date-time"
                            },
                            "updated_at": {
                                "description": "Date of last update for the entity",
                                "type": "string",
                                "format": "date-time"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "Uptime.Monitor.Resource": {
                "allOf": [
                    {
                        "properties": {
                            "id": {
                                "description": "Monitor ID",
                                "type": "number",
                                "example": 1
                            },
                            "project_id": {
                                "description": "Parent project ID",
                                "type": "number",
                                "example": 1
                            },
                            "status": {
                                "$ref": "#/components/schemas/Uptime.Monitor.StatusEnum"
                            },
                            "paused": {
                                "description": "Whether the monitor is currently paused",
                                "type": "boolean",
                                "example": true
                            },
                            "one_day_availability": {
                                "description": "Availability in the last 24h, in percents",
                                "type": "number",
                                "example": 99.9999
                            },
                            "one_day_response_time": {
                                "description": "Average response time in the last 24h, in milliseconds",
                                "type": "number",
                                "example": 123,
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    {
                        "$ref": "#/components/schemas/Uptime.Monitor"
                    },
                    {
                        "properties": {
                            "created_at": {
                                "description": "Date of creation for the entity",
                                "type": "string",
                                "format": "date-time"
                            },
                            "updated_at": {
                                "description": "Date of last update for the entity",
                                "type": "string",
                                "format": "date-time"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "Uptime.StatusPage.Resource": {
                "allOf": [
                    {
                        "properties": {
                            "id": {
                                "description": "Status page ID",
                                "type": "number",
                                "example": 1
                            },
                            "project_id": {
                                "description": "Parent project ID",
                                "type": "number",
                                "example": 1
                            }
                        },
                        "type": "object"
                    },
                    {
                        "$ref": "#/components/schemas/Uptime.StatusPage"
                    },
                    {
                        "properties": {
                            "logo_url": {
                                "description": "URL of the uploaded logo",
                                "type": "string",
                                "example": "https://cdn.phare.io/media/b1955080-c015-43c4-ba73-c907c49e839e/conversions/DBP2AUPCsK1p5ZSY8G40uVfKP6oIdwEPTF6Qq1N7-fitted.webp",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    {
                        "properties": {
                            "created_at": {
                                "description": "Date of creation for the entity",
                                "type": "string",
                                "format": "date-time"
                            },
                            "updated_at": {
                                "description": "Date of last update for the entity",
                                "type": "string",
                                "format": "date-time"
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "Uptime.AlertPolicy": {
                "required": [
                    "project_id",
                    "name"
                ],
                "properties": {
                    "project_id": {
                        "description": "Restrict the use to a single project ID",
                        "type": "number",
                        "example": 1,
                        "nullable": true
                    },
                    "name": {
                        "description": "Monitor name",
                        "type": "string",
                        "maximum": 30,
                        "minimum": 2,
                        "example": "Website"
                    }
                },
                "type": "object"
            },
            "Uptime.AlertRule": {
                "required": [
                    "integration_id",
                    "event",
                    "rate_limit"
                ],
                "properties": {
                    "integration_id": {
                        "description": "The ID of the integration used to send a notification when the alert rule is executed",
                        "type": "number",
                        "example": 1
                    },
                    "event": {
                        "description": "Name of the event that will trigger the execution of the alert rule",
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Uptime.ProductEvents"
                            }
                        ]
                    },
                    "rate_limit": {
                        "description": "Minimum time in minutes between two executions of the alert rule, used to minimized the number of alert received.",
                        "type": "number",
                        "enum": [
                            0,
                            5,
                            10,
                            30,
                            60,
                            180,
                            720,
                            1440
                        ],
                        "example": 5
                    }
                },
                "type": "object"
            },
            "Uptime.Monitor": {
                "required": [
                    "alert_policy_id",
                    "name",
                    "protocol",
                    "request",
                    "interval",
                    "incident_confirmations",
                    "recovery_confirmations",
                    "regions"
                ],
                "properties": {
                    "alert_policy_id": {
                        "description": "Associated alert policy ID",
                        "type": "number",
                        "example": 1
                    },
                    "name": {
                        "description": "Monitor name",
                        "type": "string",
                        "maximum": 30,
                        "minimum": 2,
                        "example": "Website"
                    },
                    "protocol": {
                        "$ref": "#/components/schemas/Uptime.Monitor.ProtocolEnum"
                    },
                    "request": {
                        "description": "Monitoring request, depends of the chosen protocol",
                        "type": "object",
                        "oneOf": [
                            {
                                "title": "HTTP protocol",
                                "required": [
                                    "method",
                                    "url"
                                ],
                                "properties": {
                                    "method": {
                                        "description": "Request method for http protocol",
                                        "type": "string",
                                        "enum": [
                                            "GET",
                                            "HEAD",
                                            "OPTIONS"
                                        ]
                                    },
                                    "url": {
                                        "description": "Request url for http protocol",
                                        "type": "string",
                                        "maximum": 255,
                                        "example": "https://docs.phare.io/introduction"
                                    },
                                    "keyword": {
                                        "description": "Response keyword that must be present",
                                        "type": "string",
                                        "example": "pong",
                                        "nullable": true
                                    },
                                    "timeout": {
                                        "description": "Request timeout in in milliseconds.",
                                        "type": "number",
                                        "enum": [
                                            1000,
                                            2000,
                                            3000,
                                            4000,
                                            5000,
                                            6000,
                                            7000,
                                            8000,
                                            9000,
                                            10000,
                                            15000,
                                            20000,
                                            25000,
                                            30000
                                        ],
                                        "example": 7000
                                    }
                                },
                                "type": "object"
                            },
                            {
                                "title": "TCP & UPD protocol",
                                "required": [
                                    "host",
                                    "port",
                                    "message"
                                ],
                                "properties": {
                                    "host": {
                                        "description": "Request host for tcp & upd protocol",
                                        "type": "string",
                                        "example": "8.8.8.8"
                                    },
                                    "port": {
                                        "description": "Request port for tcp & upd protocol",
                                        "type": "string",
                                        "maximum": 65536,
                                        "minimum": 0,
                                        "example": "80"
                                    },
                                    "message": {
                                        "description": "Request message for tcp & upd protocol",
                                        "type": "string",
                                        "maximum": 50,
                                        "example": "phare/ping\\r\\n"
                                    },
                                    "keyword": {
                                        "description": "Response keyword that must be present",
                                        "type": "string",
                                        "maximum": 50,
                                        "example": "pong"
                                    },
                                    "timeout": {
                                        "description": "Request timeout in in milliseconds.",
                                        "type": "number",
                                        "enum": [
                                            1000,
                                            2000,
                                            3000,
                                            4000,
                                            5000,
                                            6000,
                                            7000,
                                            8000,
                                            9000,
                                            10000,
                                            15000,
                                            20000,
                                            25000,
                                            30000
                                        ],
                                        "example": 7000
                                    }
                                },
                                "type": "object"
                            }
                        ]
                    },
                    "interval": {
                        "description": "Monitoring interval in seconds",
                        "type": "number",
                        "enum": [
                            30,
                            60,
                            120,
                            180,
                            300,
                            600,
                            900,
                            1800,
                            3600
                        ],
                        "example": 60
                    },
                    "incident_confirmations": {
                        "description": "Number of uninterrupted failed checks required to create an incident",
                        "type": "number",
                        "enum": [
                            1,
                            2,
                            3,
                            4,
                            5
                        ],
                        "example": 1
                    },
                    "recovery_confirmations": {
                        "description": "Number of uninterrupted successful checks required to resolve an incident",
                        "type": "number",
                        "enum": [
                            1,
                            2,
                            3,
                            4,
                            5
                        ],
                        "example": 1
                    },
                    "regions": {
                        "description": "List of regions where monitoring checks are performed",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Uptime.Monitor.RegionEnum"
                        },
                        "maxItems": 6,
                        "minItems": 1
                    }
                },
                "type": "object"
            },
            "Uptime.StatusPage": {
                "required": [
                    "name",
                    "title",
                    "description",
                    "search_engine_indexed",
                    "website_url",
                    "colors",
                    "components"
                ],
                "properties": {
                    "name": {
                        "description": "Status page name",
                        "type": "string",
                        "maximum": 30,
                        "minimum": 2,
                        "example": "Phare status"
                    },
                    "subdomain": {
                        "description": "Subdomain name for the status page, hosted on a phare.io domain: {subdomain}.status.phare.io",
                        "type": "string",
                        "maximum": 30,
                        "minimum": 2,
                        "example": "example"
                    },
                    "domain": {
                        "description": "Custom domain name for the status page",
                        "type": "string",
                        "maximum": 253,
                        "minimum": 4,
                        "example": "status.example.com",
                        "nullable": true
                    },
                    "title": {
                        "description": "Status page HTML title",
                        "type": "string",
                        "maximum": 250,
                        "minimum": 2,
                        "example": "Phare status"
                    },
                    "description": {
                        "description": "Status page HTML description",
                        "type": "string",
                        "maximum": 250,
                        "minimum": 2,
                        "example": "Status page of phare.io"
                    },
                    "search_engine_indexed": {
                        "description": "Whether search engines are allowed to index the page",
                        "type": "boolean",
                        "example": true
                    },
                    "website_url": {
                        "description": "URL to redirect users clicking the status page logo",
                        "type": "string",
                        "maximum": 250,
                        "example": "https://phare.io"
                    },
                    "colors": {
                        "description": "Colors to customize the status page",
                        "properties": {
                            "operational": {
                                "type": "string",
                                "example": "#16a34a"
                            },
                            "degradedPerformance": {
                                "type": "string",
                                "example": "#fbbf24"
                            },
                            "partialOutage": {
                                "type": "string",
                                "example": "#f59e0b"
                            },
                            "majorOutage": {
                                "type": "string",
                                "example": "#ef4444"
                            },
                            "maintenance": {
                                "type": "string",
                                "example": "#6366f1"
                            }
                        },
                        "type": "object"
                    },
                    "components": {
                        "description": "List of components to show on the status page",
                        "type": "array",
                        "items": {
                            "oneOf": [
                                {
                                    "title": "Monitor component",
                                    "required": [
                                        "componentable_type",
                                        "componentable_id"
                                    ],
                                    "properties": {
                                        "componentable_type": {
                                            "type": "string",
                                            "enum": [
                                                "App\\Models\\Uptime\\Monitor"
                                            ]
                                        },
                                        "componentable_id": {
                                            "description": "ID of the monitor to show",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            ]
                        }
                    }
                },
                "type": "object"
            },
            "Uptime.ProductEvents": {
                "type": "string",
                "enum": [
                    "uptime.monitor.created",
                    "uptime.monitor.deleted",
                    "uptime.incident.created",
                    "uptime.incident.recovered",
                    "uptime.incident_comment.created",
                    "uptime.incident_update.published"
                ]
            },
            "Uptime.Incident.ImpactEnum": {
                "type": "string",
                "enum": [
                    "unknown",
                    "operational",
                    "degradedPerformance",
                    "partialOutage",
                    "majorOutage",
                    "maintenance"
                ]
            },
            "Uptime.Incident.StateEnum": {
                "type": "string",
                "enum": [
                    "unknown",
                    "investigating",
                    "identified",
                    "monitoring",
                    "resolved"
                ]
            },
            "Uptime.Incident.StatusEnum": {
                "type": "string",
                "enum": [
                    "ongoing",
                    "recovering",
                    "recovered"
                ]
            },
            "Uptime.Monitor.ProtocolEnum": {
                "type": "string",
                "enum": [
                    "http",
                    "tcp"
                ]
            },
            "Uptime.Monitor.RegionEnum": {
                "type": "string",
                "enum": [
                    "as-ind-bom",
                    "as-jpn-nrt",
                    "as-sgp-sin",
                    "eu-deu-muc",
                    "eu-gbr-lhr",
                    "eu-swe-arn",
                    "na-mex-mex",
                    "na-usa-pdx",
                    "na-usa-ric"
                ]
            },
            "Uptime.Monitor.StatusEnum": {
                "type": "string",
                "enum": [
                    "fetching",
                    "online",
                    "offline",
                    "partial"
                ]
            }
        },
        "responses": {
            "401": {
                "description": "Error, access unauthorized",
                "content": {
                    "application/json": {
                        "schema": {
                            "description": "Access unauthorized error schema",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Unauthorized"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "403": {
                "description": "Error, access forbidden",
                "content": {
                    "application/json": {
                        "schema": {
                            "description": "Access forbidden error schema",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "The phare:write permission is required to perform this action."
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "404": {
                "description": "Error, resource not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "description": "Not found error schema",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Resource not found"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "422": {
                "description": "Error, unprocessable entity",
                "content": {
                    "application/json": {
                        "schema": {
                            "description": "Validation error schema",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "errors": {
                                    "properties": {
                                        "key": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "example": "The key field is required"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "parameters": {
            "product": {
                "name": "product",
                "in": "path",
                "description": "The Phare product ",
                "required": true,
                "schema": {
                    "type": "string",
                    "enum": [
                        "uptime"
                    ]
                }
            },
            "page": {
                "name": "page",
                "in": "query",
                "description": "Page number to show",
                "required": false,
                "schema": {
                    "type": "integer",
                    "default": 1,
                    "example": 1
                }
            },
            "per_page": {
                "name": "per_page",
                "in": "query",
                "description": "Number of ressources to return per page",
                "required": false,
                "schema": {
                    "type": "integer",
                    "default": 20,
                    "maximum": 100,
                    "minimum": 1,
                    "example": 20
                }
            }
        },
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "description": "Use a user token to access authenticated routes. The token must be specified in the Authorization HTTP header with the following format 'Authorization: Bearer <token>'.",
                "scheme": "bearer"
            }
        }
    },
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "Alert Policies",
            "description": "Alert Policies"
        },
        {
            "name": "Monitors",
            "description": "Monitors"
        },
        {
            "name": "Incidents",
            "description": "Incidents"
        },
        {
            "name": "Status Pages",
            "description": "Status Pages"
        },
        {
            "name": "Platform",
            "description": "Platform"
        },
        {
            "name": "Alert Rules",
            "description": "Alert Rules"
        }
    ],
    "x-tagGroups": [
        {
            "name": "Phare platform",
            "tags": []
        },
        {
            "name": "Phare uptime",
            "tags": [
                "Monitors"
            ]
        }
    ]
}